body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c2c2c;
    color: #f9c300;
    padding: 15px;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


input {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}


button {
    padding: 8px 15px;
    background-color: #f9c300;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 3px;
}

button:hover {
    background-color: #d4a700;
}


ul {
    list-style: none;
    padding: 0;
}


li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: #f9c300;
    color: #000;
}
